<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: commonHead('不是会员哦')">
</head>
<body>
<section class="container-fluid page-404 minWP text-c">
    <p class="error-title"><i class="Hui-iconfont va-m" style="font-size:80px">&#xe688;</i>
        <span class="va-m">not vip</span>
    </p>
    <p class="error-description">不好意思，您还不是会员请申请会员后再预定车位</p>
    <div class="container clearfix">
        <div class="mm fr clearfix">
            <a href="/index.html">返回申请会员</a>
        </div>
    </div>
</section>
</body>
</html>